body{
    background-color: #F2F6FF;
    color: #000;
    font-family: Inter;
}

.arrow {
    display: inline-block;
    margin-left: 5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    transition: transform 0.3s ease;
}

.arrow.down {
    transform: rotate(0deg);
}

.arrow.up {
    transform: rotate(180deg);
}
.perfil-content {
    max-width: 55vw;
    height: auto;
    margin: 25px auto;
    background-color: #EDF0F7;
    border-radius: 8px;
    padding: 0 0 20px 0;
}

.label-foto {
    display: block;
    margin: 75px 0 20px 45px;
    position: relative;
    display: inline-block;
    width: 160px;
    height: 160px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;

}

.titulo-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}
.container-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 45px 20px 45px;
}


.label-foto::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 50%;
}

.label-foto:hover::before {
    opacity: 1;
}


.label-foto svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
    height: 28px;
    fill: #f2f2f2;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
}

.profile-initials {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F6F5F5;
    font-size: 54px;
    font-weight:400;
    background-color: #0C359E;
}

.label-foto:hover svg {
    opacity: 1;
}
#input-foto {
    display: none;
}
.perfil-prof{
    filter: drop-shadow(0px 4px 20px rgba(91, 71, 188, 0.30));

}
.profile-background{
    position: absolute;
    background-color: #4769be;
    color: #F6F5F5;
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 0 0;

}

.outros-user{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    color: #525456;
}
.perfil-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    margin: 0 45px 20px 45px;

}

.detalhes-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 460px;
    text-align: center;
    gap: 10px;
    color: #525456;
}
.btn-atualizar-dados {
    background: none;
    border: none;
    padding: 8px; /* Ajuste o padding conforme necessário para o conteúdo interno */
    margin: 0;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    font-size: 18px; /* Tamanho da fonte */
    display: inline-flex; /* Usa flex para centralizar o conteúdo */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    width: auto; /* Ajusta automaticamente a largura baseado no conteúdo interno */
    height: auto; /* Ajusta automaticamente a altura baseado no conteúdo interno */
    min-width: 30px; /* Mínimo de largura para garantir a usabilidade */
    min-height: 30px; /* Mínimo de altura para garantir a usabilidade */
}

.btn-atualizar-dados:hover {
    background-color: #cccccc;
    border-radius: 50%;
    margin: 0;
}

