@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
:root {
  --font-size-base: 16px;
  --scale-ratio: 1.125; /* Major second scale */
  --min-width: 767px;
  --font-family: 'Inter', sans-serif;
  --line-height: 1.6;
  --letter-spacing: 0.006em;
  --color-primary: #222222;
}


  body {
    font-size: var(--font-size-base);
    font-family: var(--font-family);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    color: var(--color-primary);
    background-color: #F2F6FF;

  }



   a {
        text-decoration: none;
        color: #393938;
  }
