/* @import url('../global.css'); */
.labels{
    color: #000;
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.login-container{
    display: flex;
    margin: 50px auto;
    justify-content:space-between;
    border-radius: 14px;
    background: #FFF;
    width: 90vw;
    height: 80vh;
}

.left-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
}

.linha{

    width: 152px;
    height: 2px;
    background: #DBDCD6;
    margin: 0 auto;

}
.ou{
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 20px;
}


.right-container{
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 14px 14px 0 ;
    background: #EBF1FF;
}
.right-containerProf{
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 0 14px 14px 0 ;
    background: url(../../images/Background-profissional-login.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.right-containerProf h3, p {
    text-align: left;
    margin: 20px;
}
